// Burger link

.mobileNavTrigger {
	position: fixed;
	z-index: 999;
	left: 3rem;
	top: 3.3rem;
	display: none;
	width: 2rem;
	height: 2rem;

	@include breakpoint(md) {
		display: block;
	}

	&:hover {
		cursor: pointer;
	}
	
	& span {
		width: 2rem;
		height: 6px;
		background: $black;
		display: block;
		position: absolute;
		@include transition-md;
	}

	& span:nth-of-type(1) {
		top: 0px;
	}

	& span:nth-of-type(2) {
		top: 10px;
	}

	& span:nth-of-type(3) {
		top: 20px;
	}

	&.mobileNavTrigger--active {
		& span:nth-of-type(1) {
			transform: rotate(45deg);
			top: 10px;
		}

		& span:nth-of-type(2) {
			opacity: 0;
		}

		& span:nth-of-type(3) {
			transform: rotate(-45deg);
			top: 10px;
		}
	}
}

// Navigation

.navContainer {
	position: fixed;
	z-index: 999;
	left: 2rem;
	top: 2rem;

	@include breakpoint(md) {
		width: 50%;
		height: auto;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		background: $white;
		padding: 2rem;
		text-align: center;
		display: none;
	}
}

.navContainer--active {
	display: block;
}

.navList {
	color: $black;
}

.navList__item {

}

.navList__link {
	font-family: Chivo, sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 0.5rem;
	text-decoration: none;
	@include transition-md;
	position: relative;

	&:before {
		content: ' ';
		position: absolute;
		left: -1rem;
		width: 1.5rem;
		height: 1.5rem;
		background-image: url(../../img/icons/arrow-black.svg);
		background-size: 1rem;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0;
		// transform: rotate(-90deg);
		@include transition-md;
	}

	&:visited, &:active {
		color: $black;
		text-decoration: none;
	}

	&:hover {
		padding-left: 1.5rem;

		&:before {
			left: -0.1rem;
			opacity: 1;
			// transform: rotate(0deg);
		}
	}
}