// Slider

.row--slider {
	margin-top: 10rem;

	@include breakpoint(md) {
		margin-top: 70vh;
	}
}

.slide {
	position: relative;
	width: 100%;
	height: 500px;

	&:hover {

		& .slide__image {
			transform: scale(1.1);
		}

		& .slide__background:after {
			background: rgba($black, 0.3);
		}
	}
}

.slide__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($black, 0.6);
		@include transition-md;
	}
}

.slide__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	@include transition-md;
}

.slide__content {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    text-align: center;
}

.slide__copy {
	font-family: Chivo;
	color: $white;
	font-size: 1.2rem;
	line-height: 1.5rem;
	opacity: 0.9;
}

.title--slide {
	color: $white;
	margin-bottom: 0.5rem;
}