// Tiles

.tile {
	width: 33.33%;
	float: left;
	padding: 0.5rem;

	&:hover {

		& .tile__image {
			transform: scale(1.1);
		}

		& .tile__background:after {
			background: rgba($black, 0.3);
		}

		& .title--show {
			color: $blue;
		}
	}

	@include breakpoint(md) {
		width: 50%;
	}
}

.tile__sizer {
    width: 100%;
	padding-bottom: 100%;
    position: relative;
}

.tile__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($black, 0.6);
		@include transition-md;
	}
}

.tile__image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	@include transition-md;
}

.tile__content {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
}

.tile--viewAll {
	width: 66.66%;

	&:hover {
		.title--viewAll {
			padding-left: 4rem;
		}

		.title--viewAll:before {
			left: -0.1rem;
			opacity: 1;
		}
	}

	@include breakpoint(md) {
		width: 100%;

		.title--viewAll {
			padding-left: 4rem;
		}

		.title--viewAll:before {
			left: -0.1rem;
			opacity: 1;
		}
	}
}

.tile--viewAllFull {
	width: 100%;
}

.tile__sizer--viewAll {
    width: 100%;
	padding-bottom: calc(50% - 0.5rem);
    position: relative;
    background: $black;

    @include breakpoint(md) {
    	padding-bottom: 30%;
    }
}

.tile__sizer--viewAllFull {
	padding-bottom: 30%;
}

.title--viewAll {
	display: inline-block;
	position: relative;
	font-size: 3rem;
	color: $white;
	@include transition-md;

	&:before {
		content: ' ';
		position: absolute;
		left: -1rem;
		width: 3rem;
		height: 3rem;
		background-image: url(../../img/icons/arrow-white.svg);
		background-size: 3rem;
		background-position: center;
		background-repeat: no-repeat;
		opacity: 0;
		@include transition-md;
	}
}