// Typography

.title {
	font-family: Rakkas;
	color: $black;
}

.title--rowTitle {
	display: block;
	position: relative;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	width: 100%;
}

.title--small {
	font-size: 2rem;
}

.title--medium {
	font-size: 3rem;
}

.title--large {
	font-size: 4rem;
}