/* Importing utilities and basic bulding blocks */

@import 'utilities';
@import 'fonts';
@import 'colors';
@import 'typography';
@import 'navigation';
@import 'slider';
@import 'tiles';
@import 'shopslide';
@import 'floatinglogo';
@import 'floatingsocial';
@import 'cube';
@import 'shows';
@import 'residents';
@import 'resident';

/* Main styling begins */

html {
	background: $white;
}

// Background shader

.bgShader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($black, 0.4);
	display: none;
	z-index: 999;
}

.bgShader--active {
	display: block;
}

// Background container

.bgContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.randomBgImage {
	@include transition-md;
}

.bgImage--twistGrid {
	width: 200px;
}

.bgImage--chain {
	width: 100px;
}

// Main container

.mainContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	padding: 3rem;
	border: 1rem solid $black;
	overflow: scroll;

	@include breakpoint(md) {
		padding: 1rem;
	}
}

// Inner container for content

.innerContainer {
	width: 100%;
	float: left;
}

// Content rows

.row {
	width: 100%;
	margin-bottom: 20rem;
	clear: both;
	float: left;

	@include breakpoint(md) {
		margin-bottom: 10rem;
	}
}

.row--right {
	padding-left: 20%;
	
	@include breakpoint(md) {
		padding-left: 0rem;
		padding-right: 0rem;
	}
}

.row--left {
	padding-right: 15%;
	padding-left: 10%;

	@include breakpoint(md) {
		padding-left: 0rem;
		padding-right: 0rem;
	}
}

// Event poster

.eventWrapper {
	background: $white;
}

.poster {
	width: 50%;
	float: left;

	@include breakpoint(md) {
		width: 100%;
		float: right;
	}
}

.poster--image {
	display: block;

	& img {
		width: 100%;
	}
}

.poster--metadata {
	padding-left: 1rem;
	// text-shadow: 
	// 	0px 2px 2px $white, 
	// 	0px -2px 2px $white,
	// 	2px 0px 2px $white,
	// 	-2px 0px 2px $white;
}

.event__title {
	font-family: Chivo;
	color: $black;
	font-size: 2rem;
	font-weight: 600;
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.event__artists {
	font-family: Chivo;
	color: $black;
	font-size: 1.5rem;
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;

	& span {
		display: block;
	}
}

.event__location {
	font-family: Chivo;
	color: $black;
	font-size: 1.5rem;
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;
}

.event__date {
	font-family: Chivo;
	color: $black;
	font-size: 1.5rem;
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;
	position: relative;
}

.event__price {
	font-family: Chivo;
	color: $black;
	font-size: 1.5rem;
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;
}

.event__description {
	width: 80%;
	font-family: Chivo;
	color: $black;
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;
}

.event__link {
	text-decoration: none;
	font-family: Chivo;
	color: $black;
	font-size: 1.2rem;
	font-weight: 400;
	margin-left: 1.5rem;
	margin-right: 1rem;

	&:active, &:visited {
		text-decoration: none;
		color: $black;
	}
}

.event__link--info {
	position: relative;

	&:before {
		content: ' ';
		position: absolute;
		left: -1.5rem;
		width: 1.2rem;
		height: 1.2rem;
		background-size: 1.2rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../../img/icons/info.svg);
	}
}

.event__link--tickets {
	position: relative;

	&:before {
		content: ' ';
		position: absolute;
		left: -1.5rem;
		width: 1.2rem;
		height: 1.2rem;
		background-size: 1.2rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../../img/icons/ticket.svg);
	}
}

// Background images

.randomBgImage {
	position: absolute;
}

.parallaxWrapper {
	
}


